.container1, .container2, .container3, .container4 {
    width: 150px;
    height: 300px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maman1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px;
}

.test{
    width: 100%;
    height: 50px;
    text-align: center;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.maman2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.liste{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 0px;
}

.button{
    height: 6rem;
    width: 10rem;
    background-color: #74ebd5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: green;
    border-radius: 30px;
}

.button:hover{
    scale: 1.1;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    color: green;
}